*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
}
.box
{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
}
 .box h1
{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    background: none;
} 
.box input[type="text"],.box input[type="password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto; 
  text-align:center ;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width:200px;
  outline: none;
  color:white;
  border-radius: 24px;
  transition: 0.25s; 
}
.box input[type="text"]:focus,.box input[type="password"]:focus{
    width: 280px;
    border-color: #2ecc71;
    
   

}
.box input[type="submit"]{


    border:0;
    background: none;
    display: block;
    margin: 20px auto; 
    text-align:center ;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
   
    outline: none;
    color:white;
    border-radius: 24px;
    transition: 0.25s; 
    cursor: pointer;

  }
.box input[type="submit"]:hover{
    background: #2ecc71;
}

li {
    list-style-type: circle;
 }

 ul {
    margin: 0;
    padding: 0;
  }
  
  /* Style the list items */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  /* Darker background-color on hover */
  ul li:hover {
    background: #ddd;
  }
  
  /* When clicked on, add a background color and strike out text */
  ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
    
  }
  
  /* Add a "checked" mark when clicked on */
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  .addBtn
  {
    cursor: pointer;
    color: black;
    background-color: navy;
  }
  #myDIV
  {
    text-align: center;
  }
  #ulist
  {
    text-align: center;
    color:mediumpurple;
  }
 
  h2
{
  color: black;
}
